/* custom-theme.css */

/* Cores da paleta */
:root {
    --amarelo-principal: #000000;
    --amarelo-claro: #000000;
    --branco-principal: #000000;
    --preto-texto: #ffffff;
    --pinto: green;
}

body {
    background-color: var(--amarelo-claro);
    color: var(--preto-texto);
}

.header-area {
    background-color: var(--branco-principal);
}

.main-menu ul li a {
    color: var(--preto-texto);
}

.main-menu ul li a:hover {
    color: var(--preto-texto);
}

.main-header .main-menu ul li.active a {
    color: var(--preto-texto);
}

.main-header .main-menu ul li .submenu {
    background: var(--branco-principal);
    border-top: 2px solid var(--amarelo-principal);
}

.hero__caption h1 {
    color: var(--preto-texto);
}

.hero__caption p {
    color: var(--preto-texto);
}

.btn {
    background-color: var(green);
    color: var(--preto-texto);
    border: 1px solid var(green);
}

.btn:hover {
    background-color: var(rgb(0, 255, 0));
    color: var(--preto-texto);
}

.video-btn i {
    color: var(--amarelo-principal);
}

.section-tittle h2 {
    color: var(--preto-texto);
}

.single-features .features-icon {
    color: var(--preto-texto);
}

.single-features .features-caption h3 {
    color: var(--preto-texto);
}

.service-area {
    background-color: var(--amarelo-principal);
}

.services-caption .service-icon span {
    color: var(--preto-texto);
}

.services-caption h4 a {
    color: var(--preto-texto);
}

.services-caption h4 a:hover {
    color: var(--preto-texto);
}

.applic-apps {
    background-color: var(--amarelo-claro);
}

.single-cases-info h3 {
    color: var(--preto-texto);
}

.single-cases-info p {
    color: var(--preto-texto);
}

.best-pricing {
    background-image: url('assets/img/gallery/best_pricingbg.jpg');
    background-position: center;
    background-size: cover;
    color: var(--preto-texto);
}

.best-pricing h2 {
    color: var(--preto-texto);
}

.pricing-card-area {
    background-color: var(--branco-principal);
}

.single-card {
    background-color: var(--amarelo-claro);
    border: 1px solid var(--amarelo-principal);
}

.single-card .card-top h4 {
    color: var(--preto-texto);
}

.single-card .card-top span {
    color: var(--preto-texto);
}

.single-card .card-bottom ul li {
    color: var(--preto-texto);
}

.card-btn1 {
    background-color: var(--amarelo-principal);
    color: var(--preto-texto);
}

.card-btn1:hover {
    background-color: var(--branco-principal);
    color: var(--preto-texto);
    border: 1px solid var(--amarelo-principal);
}

.our-customer {
    background-color: var(--amarelo-claro);
}

.single-customer .what-cap h4 a {
    color: var(--preto-texto);
}

.single-customer .what-cap h4 a:hover {
    color: var(--preto-texto);
}

.available-app-area {
    background-color: var(--branco-principal);
}

.app-caption h2 {
    color: var(--preto-texto);
}

.say-something-aera {
    background-color: var(--amarelo-principal);
}

.say-something-cap h2 {
    color: var(--preto-texto);
}

.say-btn .btn {
    background-color: var(rgb(0, 255, 0));
    color: var(--preto-texto);
}

.say-btn .btn:hover {
    background-color: var(--amarelo-claro);
    color: var(--amarelo-principal);
    border: 1px solid var(--amarelo-principal);
}

.footer-main {
    background-color: var(----branco-principal);
    color: var(--preto-texto);
}

.footer-logo img {
    filter: brightness(0) invert(1);
}

.single-footer-caption .footer-tittle h4 {
    color: var(--preto-texto);
}

.single-footer-caption .footer-tittle ul li a {
    color: var(--preto-texto);
}

.single-footer-caption .footer-tittle ul li a:hover {
    color: var(--preto-texto);
}

.footer-form #newsletter-form-email {
    background: var(--branco-principal);
    color: var(--preto-texto);
}

.footer-form .form-icon button {
    background-color: var(--amarelo-principal);
}

.footer-copy-right p {
    color: var(--preto-texto);
}
.img{
    height: 100%;
    width:100%;
}
.logo{
    height: 70%;
    width: 70%;
    border-radius: 100%;
}
.imgk{
    height: 50%;
    width: 50%;
    border-radius: 20%;
}
.imgks{
    margin-top: 20%;
    margin-bottom: 0%;
}
.div{
    margin-bottom: 2%;
}